:root{
    --overflow-width: none;
}

.writer-web{
    height: 100vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.page-layout-div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 4.5rem);
    position: fixed;
    top: 4rem;
}

.layout-div{
    height: 2vh;
    background-color: var(--main-background-0);
    color: var(--main-background-0);
}

.page-left{
    height: inherit;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
    z-index: 2;
    height: calc(100vh - 4rem);
    width: 20vw;
    margin-left: auto;
}

.banner-layout-div{
    width: 75vw;
}

.page-center-right{
    width: 80vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.web-writer-banner{
    width: 100%;
    display: flex;
    height: 30vh;
    background-color: rgba(92, 0, 5, .25);
    position: relative;
    transition: .2s ease-in;
    margin-bottom: -5rem;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.scroll-notif{
    height: 3rem;
    width: 18vw;
    text-align: center;
    position: fixed;
    top: calc(30vh + 4.5rem);
    right: 2vw;
    z-index: 2;
    background: none;
    padding-bottom: 3rem;
    padding-top: .5rem;
    border-radius: 1rem;
    transition: .2s ease-in;
    color: var(--color-secondary-2-2);
}

.web-writer-banner.hide-scroll{
    margin-bottom: -10rem;
}

.web-writer-banner.hide-banner.hide-scroll{
    margin-bottom: -5rem;
}

.hide-banner{
    margin-top: -30rem;
    transition: .1s ease-in;
}

.scroll-notif.hide-scroll {
    top: -10rem;
    transition: .1s ease-in;
}

.web-writer-banner > .icon{
    z-index: 3;
    height: 7rem;
    width: 7rem;
    border: solid var(--color-secondary-2-0) .5rem;
    margin-left: 5rem;
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}

.icon-bar{
    z-index: 1;
    height: 4rem;
    width: 12rem;
    background-color: var(--color-secondary-2-0);
    position: absolute;
    bottom: 3rem;
    left: 0rem;
}

.author-name{
    font-size: xx-large;
    position: absolute;
    bottom: 3rem;
    left: 18rem;
    font-family: var(--author-family);
    font-weight: var(--author-weight);
    font-style: var(--author-style);
    font-size: 3rem;
    color: var(--color-secondary-2-2);
}

.writer-web > .page-layout-div > .banner-layout-div > .page-center-right > .page-center{
    width: 50vw;
    height: calc(80vh - 4rem);
    z-index: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    direction: rtl;
    padding-top: 15rem;
    overflow: auto;
    scrollbar-width: var(--overflow-width);
}

.page-center > * {
    direction: ltr;
}

.page-right{
    width: 20vw;
    height: calc(100vh - 4rem);
    z-index: 6;
    margin-right: auto;
}

.writer-web > .page-layout-div > .banner-layout-div > .page-center-right > .page-right > .about-widget{
    position: fixed;
    border-radius: 1rem;
    width: 19vw;
    right: 1rem;
    top: calc(4rem + 2px);
    background-color: var(--color-secondary-1-0);
    padding: 1rem;
    padding-left: 2rem;
    z-index: 5;
}

.writer-widget{
    height: 45vh;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.writer-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    --mask: linear-gradient(to right, rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0) 100% 50% / 100% 100% repeat-x;
    mask: var(--mask);
    box-shadow: inset 0px 0px 10px;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid var(--color-primary-1);
    border-top: 1px solid var(--color-primary-1);
    margin-bottom: auto;
}

.writer-list::-webkit-scrollbar{
    display: none;
}

.writer-list-title{
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 2rem;
    font-size: x-large;
    color: var(--color-primary-1);
    font-weight: 400;
}

.writer-widget{
    clip-path: inset(10px 10px 0px 10px );
    --mask: linear-gradient(to left, rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0) 100% 50% / 100% 100% repeat-x;
    mask: var(--mask);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.writer{
    margin: 1rem;
    font-size: 1.25rem;
    display: flex;
    width: 100%;
    max-width: max-content;
    align-items: center;
    justify-content: center;
    height: fit-content;
    flex: 0 0 0 0;
}

.writer > .icon{
    height: 1.5em;
    width: 1em;
    flex: 0 0 0 0;
    border-radius: 1em;
}

.name{
    font-size: inherit;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: .1rem;
    padding: .1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    color: var(--color-secondary-2-2);
    min-width: fit-content;
}

.writer:hover{
    padding-right: .5rem;
    border-radius: .5rem;
    transition: 1s;
    background-color: rgba(162, 210, 226, .4);
}