.user-mobile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin-top: 5.5rem;
    background-color: var(--main-background-0);
    min-height: 85vh;
}