.header{
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 4.5rem;
    background-color: black;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
    box-shadow: 0rem 4px 4px rgba(0, 0, 0, .25);
    z-index: 0;
}

.icon{
    min-width: 20%;
    background-color: darkgray;
}

.login-button{
    flex-grow: 0;
    align-self: center;
    height: min-content;
}

.about-widget{
    background-color: rgba(92, 0, 5, .25);
    padding: 1rem;
    padding-top: .2rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
}

.about-text{
    color: white;
}

.about-title{
    color: var(--color-secondary-2-2);
}