.header{
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 4.5rem;
    background-color: black;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
}

.icon{
    min-width: 20%;
    background-color: darkgray;
}

.login-button{
    flex-grow: 0;
    align-self: center;
    height: min-content;
}